@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply box-border p-0 m-0;
}

::-webkit-scrollbar {
    width: 12px; /* Largeur de la scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #1e1e1e; /* Couleur de la thumb (partie mobile de la scrollbar) */
    border-radius: 6px; /* Coins arrondis */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #343434; /* Couleur de la piste (partie fixe de la scrollbar) */
  }
  
  * {
    scrollbar-color: #1e1e1e #343434; /* Couleur de la thumb et de la piste */
    scrollbar-width: thin; /* Largeur de la scrollbar */
  }

#app {
    @apply bg-zinc-900 font-ubuntu text-gray-200 min-h-screen h-fit w-fit min-w-full grid grid-cols-[150px,auto] grid-rows-[min-content,auto] pb-5 max-[600px]:grid-cols-1 max-[600px]:px-4;
}